* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* div, footer, ul, li, img, p {
	border: 1px solid red;
} */

body {
	font-family: 'Asap', 'Helvetica', sans-serif;
	margin: 0;
	}

header {
	background-color: #fafafa;
	width: 100%;
	margin: 0;
}

header h1 {
	text-align: center;
	margin-top: 0;
	padding: 30px 0;
	font-size: 2em;
	font-weight: 800;
}

.navigation {
	margin-bottom: 28px;
}

.navigation li {
	font-size: 1em;
	background-color: white;
	padding: 15px 0;
	list-style: none;
	text-align: center;
	width: 90%;
	margin: 16px auto;
	text-transform: uppercase;
	font-weight: 700;
}

.profile-img {
	margin: 0 auto;
	width: 62.5%;
	background-color: #ededed;
}

.headshot {
	width: 50%;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}


.about-me {
	width: 90%;
	margin: 30px auto 0 auto;
	padding-bottom: 42px;
	font-size: 1.15em;
}
.portfolio, .about-me {
	text-align: center;
}

.portfolio {
	margin-top: 50px;
}

.portfolio img {
	width: 90%;
}

.portfolio h2 {
	text-transform: uppercase;
	font-size: 1.35em;
	padding-bottom: 50px;
}

.portfolio h3 {
	font-size: 1.5em;
	padding-top: 30px;
	padding-bottom: 15px;
}

.portfolio div {
	margin-bottom: 50px;
	/* border: 1px solid red; */
}

.portfolio div p {
	margin: 0 auto;
	width: 83%;
	font-size: 1.07em;
}

footer {
	margin-top: 25px;
	text-align: center;
	background-color: #fafafa;
}

footer h2 {
	padding-top: 63px;
	padding-bottom: 40px;
	font-size: 1.15em;
	text-transform: uppercase;
}

.contact {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #e7e7e7;
	font-size: 1.15em;
	padding-bottom: 20px;
}

.contact p {
	margin-bottom: 35px;
}


.small-footer-nav {
	width: 90%;
	margin: 0 auto;
	font-weight: 700;
}

.footer-name {
	float: left;
	padding: 30px 0 30px 0;
}

.back-to-top {
	float: right;
	padding: 30px 0 30px 0;
}

.large-footer-nav {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}